@import "./scss/bootstrap/bootstrap-reboot.scss";
@import './scss/variables';
@import "./scss/fonts";

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'ProximaNova-Regular', sans-serif;
}

a {
  color: $link-color;
  cursor: pointer;
}
