//colors
$main-bl: #1C1C1B;
$white: #fff;
$gray: #818286;
$gray-secondary: #E7E7E7;
$link-color: #000;

//sizes
$height-header-mobile: 60px;
$height-header-tablet: 72px;
$height-header-desktop: 121px;